body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #fdfdfd;
  margin-top: 30px;
  padding: 0 10px;
}
.search-field {
  border-radius: 10px;
  padding: 15px;
  width: 400px;
  border: none;
  font-size: large;
  /* background-color: #0c002b;  */
}
.search-field:hover {
  background-color: aliceblue;
}
.search-box {
  /* background-color:#0c002b;   */
  width: 600px;
  border-radius: 5px;
  margin: 20px auto;
  border: 1px solid #0c002b;
  padding: 0px 10px;
}
.btn {
  background-color: #0c002b;
  border: none;
  font-size: large;
  padding: 8 10px;
  color: #1670f0;
  border-radius: 5px;
}
.btn-add {
  background-color: #0c002b;
  border: none;
  font-size: large;
  padding: 8 10px;
  color: #1670f0;
  border-radius: 5px;
  bottom: 60px;
  position: absolute;
}
.btn,
.btn-details,
.btn-add:hover {
  color: #fafafa;
}
.btn-details {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.959);
  color: #1670f0;
  padding: 8 10px;
  position: absolute;
  bottom: 25px;
  font-size: large;
}

.button-style {
  padding: 10px 0px 10px 10px;
  width: 165px;
  border: none;
  border-radius: 5px;
  font-size: large;
  background-color: #0c002b;
  color: #1670f0;
}

.button-style:hover {
  background-color: #015858;
  color: wheat;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: none;
  text-align: center;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  height: 500px;
  border: 1px solid rgb(160, 138, 138);
  margin: 2px;
  position: relative;
  background-color: rgb(118, 180, 221);
  font-weight: 600;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
  background-color: rgb(73, 140, 185);
  transform: rotate3d(180);
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: #0c002bdc;
  color: white;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
